@import '~ant-design-vue/dist/antd.less';
@import '~@ant-design/aliyun-theme/index.less';
@import './global.less';

.app_header {
  display: flex;
  justify-content: space-between;
  background-color: #181530;
  padding: 0;
  .logo {
    width: 200px;
    height: 64px;
    background-color: aqua;
  }
}
.app_content {
  min-height: calc(100vh - 64px);
}
.app_sider {
  min-height: calc(100vh - 64px);
  overflow-y: auto;
  z-index: 2;
}
